.info {
  padding: 200px 0 150px;
  position: relative;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: $d-min) {
    padding: 0;
  }
}

.info__title {
  @include content-up;
  @include font-title-main;
  max-width: 780px;
  margin-bottom: 80px;
}

.info__section {
  @include content-up;
}

.info__background {
  @include background;
}

.info__subtitle {
  @include font-title-list;
  margin-bottom: 10px;
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 30px;
  margin-bottom: 80px;
}

.info__item{
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -11px;
    transform: translate(0, -50%);
    width: 5px;
    height: 1.5px;
    background: $black;
  }
}

.info__wrapper--button {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  @media (min-width: $t-min) {
    gap: 30px;
  }
}

.info__button {
  @include font-button;
  width: 183px;
  text-align: center;
  border-radius: 4px;
  padding: 12px 0;
  cursor: pointer;
}