.body{
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  font-family: 'Lato';
}

.main {
  display: grid;
}

.link {
  color: inherit;
  text-decoration: none;
}

.color--blue-dark {
  color: $blue-dark;
}

.color--blue-standart {
  color: $blue-standart;
}

.color--blue-light {
  color: $blue-light;
}

.button--blue {
  border: 1px solid $white;
  background: $blue-light;
  transition: all 0.3s ease-out;

  @media (min-width: $d-min) {
    &:hover,
    &:focus {
      background: rgba(61, 64, 80, 0.85);
      color: $white;
    }
  }
}

.button--white {
  border: 1px solid $grey;
  background: $white;
  transition: all 0.3s ease-out;

  @media (min-width: $d-min) {
    &:hover,
    &:focus {
      background: $grey;
      color: $white;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}