$background-dark: #10101D;
$background-light: #3D4050;
$black: #000000;
$black-light: #272733;
$white: #ffffff;
$blue-black: #286690;
$blue-dark: #42A9ED;
$blue-standart: #43ABF0;
$blue-light: #3E9CDC;
$grey: #6F6D7B;
$grey-light: #BBBBBB;
$grey-main: #C4C4C4;
$grey-light2: #C3C3C3;

$max-width: 1170px;