.header {
  position: fixed;
  z-index: 10;
  width: 100%;

  background: rgba($color: $background-dark, $alpha: 0.9);
  color: $white;

  transform: translateY(0);
  transition: transform .35s ease-out;
}

.header--close {
  transform: translateY(-100%);
}

.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;

  max-width: $max-width;
}

.header__list{
  display: flex;
  gap: 60px;
  align-items: center;
}

.header__logo{
  @include font-logo;
}

.header__link{
  @include font-header;
}