.header {
  position: fixed;
  z-index: 10;
  width: 100%;

  background: rgba($color: $background-dark, $alpha: 0.9);
  color: $white;

  transform: translateY(0);
  transition: transform 0.35s ease-out;
}

.header--close {
  transform: translateY(-100%);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 32px 30px;

  max-width: $max-width;

  position: relative;
}

.header__wrapper--list {
  @media (max-width: $t-max) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: $background-light;
  padding: 40px 40px 30px 20px;
  border-radius: 5px;
  
  position: absolute;
  top: 10px;
  right: 10px;

  @media (min-width: $d-min) {
    position: static;
    gap: 60px;
    flex-direction: row;
    align-items: center;
  }
}

.header__button--close{
  position: absolute;
  top: 0;
  right: 0;
}

.header__logo {
  @include font-logo;
}

.header__link {
  @include font-header;
}

.header__button--close{
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header__svg{
  width: 100%;
  height: 100%;
  stroke: $blue-standart;
}
